* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
}

html {
  font-size: 62.5%;
}

h1 {
  font-size: 4rem;
  font-weight: 500;
}

.main-head {
  background: transparent;
}

.nav-links {
  display: flex;
  list-style: none;
  width: 50%;
  height: 100%;
  justify-content: center;
  align-items: flex-start;
  position: fixed;
  // background: lightcoral;
  // z-index: 10;
  background: white;
  // background: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0));
  height: 100vh;
  width: 100%;
  top: 0;
  left: 0;
  flex-direction: column;
  clip-path: circle(10rem at 100% -12%);
  transition: all 1s ease-out;
  pointer-events: none;
  li {
    position: relative;
    margin-left: 20rem;
  }
}

.nav-links.open {
  clip-path: circle(200rem at 90% -12%);
  pointer-events: all;
}

.navs {
  color: lightslategray;
  font-weight: 1000;
  text-decoration: none;
  font-size: 8rem;
}

.navs::before {
  content: attr(data-text);
  position: absolute;
  top: 0;
  left: 0;
  width: 0;
  color: rgb(17, 16, 16);
  overflow: hidden;
  transition: all 0.5s ease-out;
}

.navs:hover::before {
  width: 100%;
}

body {
  min-height: 200vh;
}

nav {
  z-index: 100;
  min-height: 12vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 95%;
  margin: auto;
  position: fixed;
  -webkit-box-pack: end;
  -ms-flex-pack: end;
  justify-content: flex-end;
  -webkit-box-align: end;
  -ms-flex-align: end;
  align-items: flex-end;
}

.hamburger {
  width: 5rem;
  height: 5rem;
  z-index: inherit;
  cursor: pointer;
  background: white;
  border-radius: 100%;
  -webkit-box-shadow: 0 0 0.5rem rgba(84, 134, 156, 0.8);
  box-shadow: 0 0 0.5rem rgba(84, 134, 156, 0.8);
  position: relative;
}

.hamburger div {
  position: absolute;
  opacity: 1;
  height: 0.4rem;
  background: black;
  border-radius: 2rem;
  left: 0.8rem;
  -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}

.hamburger #first {
  width: 3.4rem;
  top: 1.5rem;
}

.hamburger #second {
  width: 2.6rem;
  top: 2.3rem;
}

.hamburger #third {
  width: 3.4rem;
  top: 3.1rem;
}

.intro-text {
  position: absolute;
  top: 0;
  left: 0;
  width: 50%;
  height: 100vh;
  /* background: transparent; */
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  /* background-color: lightcoral; */
}

.intro-text h1:nth-child(1) {
  opacity: 0;
  z-index: 1;
  /* height: 20vh; */
  transform: translateY(2rem);
  transition: all 0.8s ease-out;
}

.intro-img {
  position: absolute;
  top: 0;
  left: 50%;
  width: 50%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  /* background-color: lightslategrey; */
}

.designer {
  position: absolute;
  width: 100%;
  top: 0;
  left: 0;
  text-align: center;
}

.designer svg {
  width: 100%;
}

#left-side {
  clip-path: polygon(0 0, 50% 0, 50% 100%, 0% 100%);
}

#right-side {
  clip-path: polygon(100% 0, 50% 0, 50% 100%, 100% 100%);
}

.intro {
  position: fixed !important;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  z-index: 2;
  pointer-events: none;
  background-image: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0));
}

.projects {
  position: relative;
  top: 100vh;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  background: rebeccapurple;
}

.projects > div {
  display: flex;
  width: 100%;
  height: 100vh;
  /* border: 3px solid black; */
}

.container {
  width: 50%;
  min-height: 100vh;
  display: flex;
  align-items: center;
  background: lightblue;
}

.box {
  margin: auto;
  width: 50%;
  min-height: 85vh;
  transform-style: preserve-3d;
  border-radius: 3rem;
  padding: 0rem 3rem;
  box-shadow: 0 20px 20px rgba(0, 0, 0, 0.2), 0px 0px 50px rgba(0, 0, 0, 0.2);
  background: lightcoral;
  opacity: 0;
  transition: all 0.5s ease-in-out;
}

.project1 .box,
.project3 .box,
#about-project2 {
  transform: translateX(-10rem);
}

.project2 .box,
#about-project1,
#about-project3 {
  transform: translateX(10rem);
}

.view {
  margin-top: 5rem;
}

.view button {
  width: 100%;
  padding: 1rem 0rem;
  background: black;
  border: none;
  color: white;
  cursor: pointer;
  border-radius: 3rem;
  font-weight: bolder;
}

#about-project1,
#about-project2,
#about-project3 {
  opacity: 0;
  width: 50%;
  height: 100vh;
  background: brown;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  transition: all 0.5s ease-in-out;

  h2 {
    font-family: "Bad Script", cursive;
    font-size: 8rem;
  }

  p {
    margin: 0 10rem;
    font-size: 2.5rem;
  }
}

.skills {
  position: relative;
  top: 100vh;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

.skills-title h1 {
  font-size: 10rem;
  margin-bottom: 0rem;
  font-family: "Bad Script", cursive;
}

.skills-main svg {
  height: 65vh;
}

footer {
  background-color: rgb(17, 16, 16);
  min-height: 10vh;
  position: relative;
  display: flex;
  align-items: center;
  color: white;
  justify-content: space-around;
  top: 90vh;
}

footer h3 {
  font-weight: 400;
  font-size: 2rem;
}

.contact-info {
  text-align: start;
  display: flex;
  justify-content: space-around;
  /* margin-right: 10rem; */
}

.contact-info h3 {
  margin-left: 10rem;
}

footer > h3 {
  margin-right: 30rem;
  font-size: 4rem;
  font-family: "Bad Script", cursive;
}

.appear-horizontal {
  opacity: 1 !important;
  transform: translateX(0) !important;
}

.appear-vertical {
  opacity: 1 !important;
  transform: translateY(0) !important;
}
