* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
}

html {
  font-size: 62.5%;
}

h1 {
  font-size: 4vh;
  font-weight: 500;
}

.main-head {
  background: transparent;
}

.nav-links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  list-style: none;
  width: 50%;
  height: 100%;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  position: fixed;
  background: white;
  height: 100vh;
  width: 100%;
  top: 0;
  left: 0;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-clip-path: circle(10rem at 100% -12%);
          clip-path: circle(10rem at 100% -12%);
  -webkit-transition: all 1s ease-out;
  transition: all 1s ease-out;
  pointer-events: none;
}

.nav-links li {
  position: relative;
  margin-left: 20rem;
}

.nav-links.open {
  -webkit-clip-path: circle(200rem at 90% -12%);
          clip-path: circle(200rem at 90% -12%);
  pointer-events: all;
}

.navs {
  color: lightslategray;
  font-weight: 1000;
  text-decoration: none;
  font-size: 8vh;
}

.navs::before {
  content: attr(data-text);
  position: absolute;
  top: 0;
  left: 0;
  width: 0;
  color: #111010;
  overflow: hidden;
  -webkit-transition: all 0.5s ease-out;
  transition: all 0.5s ease-out;
}

.navs:hover::before {
  width: 100%;
}

body {
  min-height: 200vh;
}

nav {
  z-index: 100;
  min-height: 12vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 95%;
  margin: auto;
  position: fixed;
  -webkit-box-pack: end;
  -ms-flex-pack: end;
  justify-content: flex-end;
  -webkit-box-align: end;
  -ms-flex-align: end;
  align-items: flex-end;
}

.hamburger {
  width: 5rem;
  height: 5rem;
  z-index: inherit;
  cursor: pointer;
  background: white;
  border-radius: 100%;
  -webkit-box-shadow: 0 0 0.5rem rgba(84, 134, 156, 0.8);
  box-shadow: 0 0 0.5rem rgba(84, 134, 156, 0.8);
  position: relative;
}

.hamburger div {
  position: absolute;
  opacity: 1;
  height: 0.4rem;
  background: black;
  border-radius: 2rem;
  left: 0.8rem;
  -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}

.hamburger #first {
  width: 3.4rem;
  top: 1.5rem;
}

.hamburger #second {
  width: 2.6rem;
  top: 2.3rem;
}

.hamburger #third {
  width: 3.4rem;
  top: 3.1rem;
}

.intro-text {
  position: absolute;
  top: 0;
  left: 0;
  width: 50%;
  height: 100vh;
  /* background: transparent; */
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  /* background-color: lightcoral; */
}

.intro-text h1:nth-child(1) {
  opacity: 0;
  z-index: 1;
  /* height: 20vh; */
  -webkit-transform: translateY(2rem);
          transform: translateY(2rem);
  -webkit-transition: all 0.8s ease-out;
  transition: all 0.8s ease-out;
}

.intro-img {
  position: absolute;
  top: 0;
  left: 50%;
  width: 50%;
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  /* background-color: lightslategrey; */
}

.designer {
  position: absolute;
  width: 100%;
  top: 0;
  left: 0;
  text-align: center;
}

.designer svg {
  width: 100%;
}

#left-side {
  -webkit-clip-path: polygon(0 0, 50% 0, 50% 100%, 0% 100%);
          clip-path: polygon(0 0, 50% 0, 50% 100%, 0% 100%);
}

#right-side {
  -webkit-clip-path: polygon(100% 0, 50% 0, 50% 100%, 100% 100%);
          clip-path: polygon(100% 0, 50% 0, 50% 100%, 100% 100%);
}

.intro {
  position: fixed !important;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  z-index: 2;
  pointer-events: none;
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.2)), to(rgba(0, 0, 0, 0)));
  background-image: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0));
}

.projects {
  position: relative;
  top: 100vh;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.projects > div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  height: 100vh;
  /* border: 3px solid black; */
}

.container {
  width: 50%;
  min-height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: lightblue;
}

.box {
  margin: auto;
  width: 50%;
  -webkit-transform-style: preserve-3d;
          transform-style: preserve-3d;
  border-radius: 3rem;
  padding: 0rem 3rem;
  -webkit-box-shadow: 0 20px 20px rgba(0, 0, 0, 0.2), 0px 0px 50px rgba(0, 0, 0, 0.2);
          box-shadow: 0 20px 20px rgba(0, 0, 0, 0.2), 0px 0px 50px rgba(0, 0, 0, 0.2);
  opacity: 0;
  -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
  text-align: center;
}

.box h3 {
  margin-top: 1.5rem;
  font-size: 2rem;
  font-weight: 500;
}

.project1 .box,
.project3 .box,
#about-project2 {
  -webkit-transform: translateX(-10rem);
          transform: translateX(-10rem);
}

.project2 .box,
#about-project1,
#about-project3 {
  -webkit-transform: translateX(10rem);
          transform: translateX(10rem);
}

.project1 .box {
  height: 85vh;
}

.project2 .box {
  width: 80%;
  height: 57vh;
}

.project3 .box {
  width: 80%;
  height: 45vh;
}

video {
  -o-object-fit: cover;
     object-fit: cover;
  margin-top: 3rem;
  width: 100%;
  border-radius: 3rem;
}

.view {
  margin-top: 5rem;
}

.view button {
  width: 100%;
  padding: 1rem 0rem;
  background: black;
  border: none;
  color: white;
  cursor: pointer;
  border-radius: 3rem;
  font-weight: bolder;
}

#about-project1,
#about-project2,
#about-project3 {
  opacity: 0;
  width: 50%;
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}

#about-project1 h2,
#about-project2 h2,
#about-project3 h2 {
  font-family: "Bad Script", cursive;
  font-size: 8vh;
}

#about-project1 p,
#about-project2 p,
#about-project3 p {
  margin: 0 10rem;
  font-size: 2.5vh;
}

.skills {
  position: relative;
  top: 100vh;
  min-height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.skills-title h1 {
  font-size: 10vh;
  margin-bottom: 0rem;
  font-family: "Bad Script", cursive;
}

.skills-main svg {
  height: 65vh;
}

footer {
  background-color: #111010;
  min-height: 10vh;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: white;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  top: 90vh;
}

footer h3 {
  font-weight: 400;
  font-size: 2vh;
}

.contact-info {
  text-align: start;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  /* margin-right: 10rem; */
}

.contact-info h3 {
  margin-left: 10rem;
}

footer > h3 {
  margin-right: 30rem;
  font-size: 4vh;
  font-family: "Bad Script", cursive;
}

.appear-vertical {
  opacity: 1 !important;
  -webkit-transform: translateY(0) !important;
          transform: translateY(0) !important;
}

.preloader {
  position: fixed;
  z-index: 10;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background: #121212;
  -webkit-transition: opacity 0.5s ease;
  transition: opacity 0.5s ease;
}

.face {
  position: fixed;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  width: 20rem;
  height: 20rem;
  border: 2px solid #121212;
}

.face.face1 {
  -webkit-box-shadow: 0 0 1rem black;
          box-shadow: 0 0 1rem black;
  border-radius: 50%;
  background: #090909;
  border-left: 2px solid #ffff00;
  border-top: 2px solid #ffff00;
  -webkit-animation: animate 3s linear infinite;
          animation: animate 3s linear infinite;
}

.face.face2 {
  width: 15rem;
  height: 15rem;
  -webkit-box-shadow: 0 0 1rem black;
          box-shadow: 0 0 1rem black;
  border-radius: 50%;
  background: #090909;
  border-right: 2px solid #03a9f4;
  border-bottom: 2px solid #03a9f4;
  animation: animate 3s linear infinite reverse;
}

.face .circle {
  position: absolute;
  top: calc(50% - 0.1rem);
  left: 50%;
  width: 50%;
  height: 0.2rem;
  -webkit-transform-origin: left;
          transform-origin: left;
}

.face.face1 .circle {
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
}

.face.face2 .circle {
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
}

.face .circle::before {
  content: "";
  position: absolute;
  width: 1rem;
  height: 1rem;
  border-radius: 50%;
  background: #fff;
  top: -0.4rem;
  right: -0.6rem;
}

.face.face1 .circle::before {
  background: #ffff00;
  -webkit-box-shadow: 0 0 2rem #ffff00, 0 0 4rem #ffff00, 0 0 6rem #ffff00, 0 0 8rem #ffff00, 0 0 10rem #ffff00, 0 0 0 0.5rem rgba(255, 255, 0, 0.1);
          box-shadow: 0 0 2rem #ffff00, 0 0 4rem #ffff00, 0 0 6rem #ffff00, 0 0 8rem #ffff00, 0 0 10rem #ffff00, 0 0 0 0.5rem rgba(255, 255, 0, 0.1);
}

.face.face2 .circle::before {
  background: #03a9f4;
  -webkit-box-shadow: 0 0 2rem #03a9f4, 0 0 4rem #03a9f4, 0 0 6rem #03a9f4, 0 0 8rem #03a9f4, 0 0 10rem #03a9f4, 0 0 0 0.5rem rgba(3, 169, 244, 0.1);
          box-shadow: 0 0 2rem #03a9f4, 0 0 4rem #03a9f4, 0 0 6rem #03a9f4, 0 0 8rem #03a9f4, 0 0 10rem #03a9f4, 0 0 0 0.5rem rgba(3, 169, 244, 0.1);
}

@-webkit-keyframes animate {
  0% {
    -webkit-transform: translate(-50%, -50%) rotate(0deg);
            transform: translate(-50%, -50%) rotate(0deg);
  }
  100% {
    -webkit-transform: translate(-50%, -50%) rotate(360deg);
            transform: translate(-50%, -50%) rotate(360deg);
  }
}

@keyframes animate {
  0% {
    -webkit-transform: translate(-50%, -50%) rotate(0deg);
            transform: translate(-50%, -50%) rotate(0deg);
  }
  100% {
    -webkit-transform: translate(-50%, -50%) rotate(360deg);
            transform: translate(-50%, -50%) rotate(360deg);
  }
}

.preload-finish {
  opacity: 0;
  pointer-events: none;
}

img {
  height: 80vh;
}
/*# sourceMappingURL=style.css.map */